doctypehtml
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(href="https://fonts.googleapis.com/css2?family=Lato&family=Oxygen:wght@400;700&display=swap" rel="stylesheet" type="text/css") 
        link(rel="stylesheet", href="/css/ballon.css" type="text/css")
        link(rel="stylesheet", href="/css/dash.css" type="text/css")
    body

        main(class="wp-division")
            include layout/menu.pug
            section(class="wp-30")
            section(class="wp-content")
                div(class="title-wp")
                    h1 Perfil
                div(class="leaf")
                    div(class="wp-imgPerfilEdt")
                        div(class="contImgHover")
                            img(class="imgProfile" src=`/${perfilData[2]}` alt="user img profile")
                            div(class="overCaption")
                                img(class="editImg" src="/icons/edit.svg" alt="imagen editar")
                    div(class="wp-allChangerData")
                        div(class="blockData")
                            div(class="wp-placeData")
                                img(class="iconDataPlace" src="/icons/id-card.svg" alt="user icon")   
                                span= perfilData[0]
                                button(class="editUserBtn" keyChange=`${id}`) Editar
                            div(class="wp-placeData")
                                img(class="iconDataPlace" src="/icons/envelope.svg" alt="mail icon")
                                span= dataVariable[0]
                            div(class="wp-placeData")
                                img(class="iconDataPlace" src="/icons/calendar.svg" alt="date icon")
                                span= `${dataVariable[1].getDay()}/${dataVariable[1].getMonth()+1}/${dataVariable[1].getFullYear()}`
                        
                        div(class="blockData")
                            .wp-titleChange
                                h3 Cambiar contraseñas
                            .wp-blockChange
                                label(for="pass1") Nueva contraseña
                                input(class="passwordInput" id="pass1" placeholder="Nueva contraseña")
                                label(for="pass2") Nueva contraseña(nuevamente)
                                input(class="passwordInput" id="pass2" placeholder="Nueva contraseña(nuevamente)")
                                button(id="sendPasswords" keyChange=`${id}`) Enviar

        script(src="js/axios.min.js" type="text/javascript")
        script(src="js/sweetalert2.js" type="text/javascript")
        script(src="js/jquery.min.js" type="text/javascript")
        script(src="js/dash.js" type="text/javascript")